.background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-image: url("/background_.jpg");
    filter: brightness(95%) saturate(120%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#about {
    background-image: url("/game.jpg");
}
#two {
    background-image: url("/bigsur.jpg");
}

#three {
    background-image: url("/laguna.jpg");
}

.skills {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    left: 6%;
    height: 80%;
    gap: 1rem;
}
.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.name {
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
    color: #ffffff;
    width: 18rem;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fadeFromTop 1.2s;
    gap: 1rem;
}
.levelContainer {
    width: 70%;
    opacity: 0;
    z-index: 2;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    animation: fadeFromLeft 1.2s forwards;
    animation-delay: calc(var(--fadeoffset) * 200ms);
    border-radius: 0.5rem;
}
.level {
    z-index: 3;
    border-radius: 0.5rem;
    /* background: rgba(73, 90, 109, 0.7) */
    background-color: var(--color);
    height: 1rem;
    width: calc(var(--level) * 100%);
    opacity: 0;
    animation: fadeFromLeft 1.2s forwards;
    animation-delay: calc(var(--fadeoffset) * 200ms);
}

.textWrapper {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
    width: 100%;
}

.secondSkillsPage {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 75%;
    width: 100%;
}
.background .middle {
    width: 100%;
    animation: fadeFromTop 1.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
    color: #ffffff;
}

#bottom {
    opacity: 0;
    text-shadow: 2px 2px 12px #000000;
    font-weight: normal;
    font-size: 1.3rem;
    font-weight: 300;
    width: 80%;
    position: relative;
    top: 1rem;
    animation: fadeFromBottom 1.6s forwards;
    animation-delay: calc(var(--fadeoffset) * 200ms);
}

#aboutTextWrapper {
    /* position: relative; */
    /* top: 5rem; */
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

#middleAbout {
    opacity: 0;
    text-shadow: 2px 2px 12px #000000;
    font-weight: normal;
    font-size: 1.3rem;
    font-weight: 300;
    width: 60%;
    /* position: relative; */
    /* top: 1rem; */
    animation: fadeFromBottom 1.6s forwards;
    animation-delay: calc(var(--fadeoffset) * 200ms);
}

.middleAboutEducation {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    opacity: 0;
    text-shadow: 2px 2px 12px #000000;
    font-weight: normal;
    font-size: 1.3rem;
    font-weight: 300;
    width: 60%;
    /* position: relative; */
    /* top: 1rem; */
    animation: fadeFromBottom 1.6s forwards;
    animation-delay: calc(var(--fadeoffset) * 200ms);
}

.container .middle {
    position: relative;
    bottom: 1rem;
    font-weight: 100;
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.25;
    animation: pulse 2s linear alternate infinite;
}

#middleTwo {
    animation: fadeFromLeft 1.2s forwards;
    /* height: 100%; */
}

@keyframes fadeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

@keyframes fadeFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll {
    /* height: 100vh; */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.container {
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 7rem; */
    width: 100%;
    height: 24px;
    z-index: 2;
    animation: fadeFromBottom 1.6s forwards, bounce 1.6s ease-in-out infinite;
    animation-delay: calc(var(--fadeoffset) * 200ms);
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* @media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
} */

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}

/* Make font size smaller if user is on phone  */
/* @media (max-width: 600px) {
    .background .middle {
        font-size: 2rem;
    }
} */

.tabs {
    position: relative;
    top: 3rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    /* width: 100%; */
    height: 5rem;
}

.tab {
    opacity: 0;
    text-shadow: 2px 2px 12px #000000;
    animation: fadeFromBottom 1.2s forwards;
    animation-delay: calc(var(--fadeoffset) * 200ms);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* Underline text when hovered over */
.tab:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

@keyframes fadeFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @media (max-width: 600px) {
    .tabs {
        gap: 1.2rem;
    }
    .tab {
        font-size: 1rem;
    }
} */
